{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <h1>Welcome {{ user.username }}!</h1>

    {% if user_info %}

        <img style="width: 100px; height: 100px; border-radius: 50%; border: 2px solid #007bff;" src="{{ user_info.avatar.url }}" alt="Avatar">

        <p>Name: {{ user_info.name }}</p>
        <p>Surname: {{ user_info.surname }}</p>
        <p>Degree: {{ user_info.degree }}</p>
        <p>Position: {{ user_info.position }}</p>
        <p>School: {{ user_info.school }}</p>
        <p>Orcid: {{ user_info.orcid }} </p>
        <p>ScopusID: {{ user_info.Scopus_ID }} </p>
        <p>Web of Science ResearcherID:  {{ user_info.Web_of_Science_ResearcherID }} </p>
        <p>Scientific interests: {{ user_info.scientific_interests }} </p>
        <p> </p>

        <b>Model Table:</b>
        {% for table in tables %}
            <div style="margin-left: 20px;">
                <tr>
                    <td>{{ table.author_name }}</td>
                    <td>{{ table.patent }}</td>
                    <td>{{ table.year }}</td>
                    <td>{{ table.title }}</td>
                    <td>{{ table.date }}</td>
                    <p> </p>
                </tr>
            </div>
        {% endfor %}
            
        <p> </p>

        <b>Model Table23:</b>
        {% for table in tables23 %}
            <div style="margin-left: 20px;">
                <tr>
                    <td>{{ table.subject }}</td>
                    <td>{{ table.name_of_partner }}</td>
                    <td>{{ table.date_of_contract }}</td>
                    <td>{{ table.start_date }}</td>
                    <td>{{ table.end_date }}</td>
                    <td>{{ table.availability }}</td>
                    <td>{{ table.date }}</td>
                    <p> </p>
                </tr>
            </div>
        {% endfor %}
        
        <p> </p>
        
        <b>Model Table26:</b>
        {% for table in tables26 %}
            <div style="margin-left: 20px;">
                <tr>
                    <td>{{ table.organisation }}</td>
                    <td>{{ table.subject_of_contract }}</td>
                    <td>{{ table.directon_of_speciality }}</td>
                    <td>{{ table.date_of_conclusion_of_the_contract }}</td>
                    <td>{{ table.terms_of_the_contract }}</td>
                    <td>{{ table.date }}</td>
                    <p> </p>
                </tr>
            </div>
        {% endfor %}

        
    {% else %}

        <p>User not found</p>
        
    {% endif %}
    <p><a class="btn" href="{% url 'logout' %}">Logout</a></p>
    <p><a class="btn" href="{% url 'home' %}">Back</a></p>

</body>
</html>